.Fiche{
    Background-color: darkred;
    border-color: black;
    border-radius: 10px;
}

.Fiche_Infos{
    text-decoration: none;
    color:black;
}

.type{
    border-radius: 15px;
    border-color : white;
    border-width: 1px;
}